
/*Name:ICOCyption html5 tamplate*/


/*
================+/+/+/+/+/+/+/+/+/=================
                    medium
================+/+/+/+/+/+/+/+/+/=================
*/

@media only screen and (min-width: 992px) and (max-width: 1200px) {

    .logibtn {
        padding: 10px !important;
    }

    .logibtn span{
        display: none;
    }

    .main-menu li a {
        font-size: 11px;
    }
    .welcome-text h1 {
        font-size: 24px;
    }
    a.gradient-btn {
        font-size: 10px;
    }
    .about-mid-text h1 {
        font-size: 24px;
    }
    .logo-area img {
        width: 90px;
        height: 25px;
    }
    .about-mid-img {
        width: 500px;
        height: 100%;
        max-height: 600px;
    }
    a.gradient-btn {
        padding: 13px;
    }
}

/*
================+/+/+/+/+/+/+/+/+/=================
                     tab
================+/+/+/+/+/+/+/+/+/=================
*/

@media only screen and (min-width: 768px) and (max-width: 991px) {

    .logibtn {
        padding: 0;
    }

    .logibtn span{
        display: none;
    }
    .welcome-right {
        text-align: center;
        padding: 50px 0;
    }
}

/*
================+/+/+/+/+/+/+/+/+/=================
                    Mobile menu
================+/+/+/+/+/+/+/+/+/=================
*/

@media only screen and (max-width: 991px) {

    .logibtn {
        padding: 0;
    }

    .logibtn span{
        display: none;
    }

    .welcome-text h1 {
        font-size: 22px;
        font-weight: 700;
        line-height: 30px;
    }
    .welcome-text h4 {
        font-size: 13px;
    }
    .gradient-btn.v2 {
        margin-bottom: 20px;
    }
    body {
        overflow-x: hidden;
    }
    .welcome-area::before {
        display: none;
    }
    .about-mid-img {
        width: 400px;
    }
    .about-mid-text h1 {
        font-size: 22px;
    }
    .logo-area {
        text-align: center;
    }
}



/*
================+/+/+/+/+/+/+/+/+/=================
                    Mobile
================+/+/+/+/+/+/+/+/+/=================
*/

@media only screen and (min-width: 0px) and (max-width: 767px) {
    
    .logibtn {
        padding: 0;
    }

    .logibtn span{
        display: none;
    }
    .logo-area img {
        width: 80px;
        height: 25px;
    }
    a.gradient-btn {
        font-size: 6px;
    }
    .welcome-text h1 {
        font-size: 14px;
        line-height: 20px;
    }
    .welcome-text h4 {
        font-size: 12px;
        margin-top: 20px;
        margin-bottom: 25px;
        line-height: 16px;
    }
    .about-mid-text h1 {
        font-size: 16px;
    }
    .about-mid-img {
        position: relative;
        left: 0;
        margin-right: 0;
        margin-bottom: 40px;
    }
    .about-area {
        text-align: center;
    }
    .welcome-text h1 {
        font-size: 18px;
        line-height: 22px;
    }
    a.gradient-btn {
        font-size: 6px;
        padding: 10px 5px;
    }
    .about-mid-img {
        width: 260px;
        top: -17%;
        margin: auto;
            margin-bottom: auto;
        margin-bottom: 30px;
    }

    .heading h5 {
        font-size: 13px;
        text-transform: uppercase;
    }
    .gradient-btn.v2 {
        height: 30px;
        line-height: 30px;
        margin-bottom: 10px;
        padding: 0 15px;
    }
    .welcome-right {
        text-align: center;
        padding: 50px 0;
    }
}

/*
================+/+/+/+/+/+/+/+/+/=================
                    wid device
================+/+/+/+/+/+/+/+/+/=================
*/

@media only screen and (min-width: 480px) and (max-width: 767px) {
    
    .logibtn {
        padding: 0;
    }

    .logibtn span{
        display: none;
    }
    a.gradient-btn {
        padding: 10px 20px;
        font-size: 10px;
    }
    .welcome-text h1 {
        font-size: 24px;
        line-height: 36px;
    }
    .welcome-text h4 {
        font-size: 13px;
        margin-bottom: 35px;
        line-height: 20px;
    }
    .logo-area img {
        width: 90px;
        height: 30px;
    }
    .gradient-btn.v2 {
        height: 40px;
        line-height: 40px;
    }
    .about-mid-img {
        width: 100%;
        top: 0%;
        margin-bottom: 80px;
    }
    .heading h5 {
        font-size: 16px;
    }
    .about-mid-text h1 {
        font-size: 20px;
    }
    a.gradient-btn {
        padding: 10px;
    }
}

/*=========================================================================
                                The end
==========================================================================*/